/* Genel Ayarlar */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dceaa0;
    color: #333;
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.game-title {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    margin: 0;
}

.game-description {
    font-size: 1.2rem;
    margin: 10px 0;
}

/* Oyun Alanı (Stadyum Resmi ve Harita) */
#game-container {
    display: flex; /* Yatay düzen */
    justify-content: space-between;
    align-items: flex-start; /* Üst hizalama */
    margin: 20px auto;
    max-width: 1000px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    gap: 20px; /* Harita ve resim arasında boşluk */
}

/* Stadyum Resmi Alanı */
#image-container {
    flex: 1; /* Resim alanı genişliği */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Başlık yukarıda kalacak */
    align-items: center;
    height: 420px; /* Sabit çerçeve boyutu */
    overflow: hidden; /* Taşmaları engelle */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
}

/* Üstte Sabit Başlık */
.image-title {
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #020000;
}

/* Görsel Alanı */
#image {
    width: 100%; /* Çerçeve genişliğini doldur */
    height: 100%; /* Çerçeve yüksekliğini doldur */
    display: flex;
    justify-content: center; /* Görselleri yatayda ortala */
    align-items: center; /* Görselleri dikeyde ortala */
}

#image img {
    max-width: 100%; /* Görsel çerçeveden taşmasın */
    max-height: 100%; /* Görsel çerçeveden taşmasın */
    object-fit: contain; /* Görsel orijinal oranını koruyarak çerçeveye sığsın */
    border-radius: 5px;
}

/* Harita Alanı */
#map {
    flex: 1; /* Harita genişliği */
    height: 420px; /* Sabit bir yükseklik */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0; /* Yüklenmezse arka plan rengi */
}

/* İkon */
#icon {
    width: 50px; /* İkonun genişliğini arttır */
    height: auto; /* Yüksekliği orantılı şekilde ayarla */
    margin: 20px auto;
    display: block;
    text-align: center; /* Ekranın ortasında yer almasını sağlamak için */
}

#icon img {
    width: 100%; /* İkonun boyutunu artır */
    height: auto;
}

/* Bilgi Alanları (Zaman ve Puan) */
.info-text {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #000000;
}

/* Start Game Button */
.start-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 20px;
}

.start-button:hover {
    background-color: #45a049;
}


